<div id = "dashboard">
    <div class = "dashboardRow1">
        <div class = "dashboardSection"><%= link_to('Passages', passages_path) %></div>
        <div class = "dashboardSection"><%= link_to('Annotations', annotations_path) %></div>
    </div>    
    <div class = "dashboardRow2">
        <div class = "dashboardSection"><%= link_to('Annotations', annotations_path) %></div>
        <div class = "dashboardSection"><%= link_to('Logout', destroy_user_session_path, method: :delete) %><div>
    </div>
</div>




  


