<%= link_to('Passages', passages_path) %> |
<%= link_to('Annotations', annotations_path) %> |
<%= link_to('Collaborate', passage_shares_path) %> |
<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 

<h1>Dashboard</h1>




  


