<%= link_to('Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out? You will lose unsaved work.' }) %>
<h1>Editing Passage</h1>

<%= render 'form', passage: @passage %>


<%= link_to 'Cancel', passage_path(@passage), data: { confirm: 'Are you sure you want to cancel? You will lose unsaved work.' }%> 